
<h1>Welcome!</h1>
<p>Below is what you need to do.</p>
<br/>

<% @todos.each do |todo| %>
	<%= todo.description %>
<% end %>

<br/><br/>
<p>What else do you need to do?<p>



<%= form_for [@user, @todo] do |f| %>
	<%= f.text_field :description, placeholder: 'Description' %>
	<%= f.submit 'Save', class: 'btn btn-primary' %>
<% end %>
