<div class="about center-block">
	<h1>About CheckIt</h1>
	<br>
	<p>CheckIt is a web app designed to help users create, track, and edit to-do lists.</p>
	<p>It was built from scratch by Austin Sisson as part of the full stack course at <a href="http://bloc.io">Bloc</a>.</p>
</div>
