<div class="jumbotron">
  <h1>Welcome to CheckIt!</h1>
  <p>A web-app for creating handy to-do lists!</p>
  <p><%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!</p>
</div>