<div class="jumbotron center-block">
	<h1>Welcome to CheckIt!</h1>
	<br>
	<p>A simple web app for creating to-do lists</p>
	<br>
	<br>
	<div class="col-xs-6 col-md-3 col-md-offset-3"> 
		<p>New here?</p>
		<%= link_to "Sign Up", new_user_registration_path, class: 'btn-lg btn-primary' %>
	</div>
	<div class="col-xs-6 col-md-3">
		<p>Back again?</p>
		<%= link_to "Sign In", new_user_session_path, class: 'btn-lg btn-primary' %>
	</div>
</div>
<div class="container">
  
  	<hr>
  
  	<div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading center-block"><h3>Convenient!</h3></div>
            <div class="panel-body">CheckIt allows users to create their own personal to-do list. Each to-do list item expires automatically after 7 days.
            	Users can also mark items as complete without needing to delete them. Users are only allowed to view their own to-do lists.
            </div>
          </div>
        </div>
      	<div class="col-md-4">
        	<div class="panel panel-default">
            <div class="panel-heading center-block"><h3>Secure!</h3></div>
            <div class="panel-body">Users are required to sign up via email. Users must confirm their email address by clicking the link in the confirmation
            	email. Users are only allowed to see their own to-do lists. Your information will never be shared with, or available to, any other users!
            </div>
          </div>
        </div>
      	<div class="col-md-4">
        	<div class="panel panel-default">
            <div class="panel-heading center-block"><h3>Free!</h3></div>
            <div class="panel-body">CheckIt is a project that was created by Austin Sisson as part of the full-stack course at <a href="http://bloc.io">Bloc</a>.
            	As such, there will never be ads on this site, nor will there ever be any charges for its use. Use it as often as you like!
            </div>
          </div>
        </div>
    </div>
  
	<div class="row">
        <div class="col-lg-12">
        	<br><br>
			<a class="github-button" href="https://github.com/austinsisson" data-style="mega">Follow me on GitHub</a>
        	<a class="github-button" href="https://github.com/austinsisson/checkit/issues" data-icon="octicon-issue-opened" data-style="mega">Report an issue</a>
        </div>
        <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
    </div>
</div>
