$('#todo-description-<%= @todo.id %>').wrapInner("<s></s>");
$('#todo-time_left-<%= @todo.id %>').replaceWith("<td><p>Complete!</p></td>");
$('#todo-complete-<%= @todo.id %>').replaceWith("<td><p>Complete!</p></td>");
